{% extends 'base.html' %}

{% block content %}
<p>{{ stars|length }} Stars</p>
<ul class="movie-list">
    {% for star in stars %}
    <li>
        <img src="{{ url_for('static',filename=star.image) }}" class="photo">
        {{ star.name }} - {{ star.year }}
        <span class="float-right">
            <a class="douban" href="https://search.douban.com/movie/subject_search?search_text={{star.name}}&cat=1002" target="_blank" title="Find this star on douban">
                Douban Link
            </a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}