/*.photo{*/
/* width: 400px;*/
/* height: 600px;*/
/*}*/
/*!* 右对齐 *!*/
/*.float-right {*/
/*    float: right;*/
/*}*/

/*!* 豆瓣链接按钮 *!*/
/*.douban {*/
/*    font-size: 12px;*/
/*    font-weight: bold;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    background: #F5C518;*/
/*    border-radius: 5px;*/
/*    padding: 3px 5px;*/
/*}*/

/*!* 输入 *!*/
/*input[type=submit] {*/
/*    font-family: inherit;*/
/*}*/

/*input[type=file] {*/
/*    font-family: inherit;*/
/*    width: 80px;*/
/*}*/

/*input[type=text] {*/
/*    border: 1px solid #ddd;*/
/*    width: 80px;*/
/*}*/

/*!* 按钮 *!*/
.btnn {
    font-size: 12px;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btnn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/*.inline-form {*/
/*    display: inline;*/
/*}*/

/*.alert {*/
/*    position: relative;*/
/*    padding: 7px;*/
/*    margin: 7px 0;*/
/*    border: 1px solid transparent;*/
/*    color: #004085;*/
/*    background-color: #cce5ff;*/
/*    border-color: #b8daff;*/
/*    border-radius: 5px;*/
/*}*/

/*.page{*/
/*    display: block;*/
/*    text-align: center;*/
/*}*/